In [1]:
# Import libraries
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
# url we're going to scrape their names from
url = 'https://www.fleshlight.com/collections/fleshlight-girls'
# Connection to the URL
response = requests.get(url)
# Parse HTML and save to BeautifulSoup object
soup = BeautifulSoup(response.text, "html.parser")

In [3]:
girls = soup.find('section',{'class':'products'})
girls = girls.find_all('h3')
girls = list(girls)

In [4]:
#helper function to remove the heading tags from the list of girls
def remove_h3tags(the_list):
    new_list = []
    for i in the_list:
        i = str(i)
        i = i[4:-5]
        new_list.append(i)
    return new_list
girls = remove_h3tags(girls)

Time to put their names and sleeve prices into a DataFrame. Sleeve prices on their own are 59.95 a piece, 79.95 with the container. All of these girls have pussy sleeves, but not all of them have butt sleeves. By default, we'll set all the values to the sleeve price, and then zero out the entries for stars without butt sleeves.

In [12]:
df = pd.DataFrame({'Name':girls,'Lady Sleeve':59.95,'Butt Sleeve':59.95})
df

                  Name  Lady Sleeve  Butt Sleeve
0        Maitland Ward        59.95        59.95
1          Mia Malkova        59.95        59.95
2           Riley Reid        59.95        59.95
3                Stoya        59.95        59.95
4       Dillion Harper        59.95        59.95
5            Eva Lovia        59.95        59.95
6          Madison Ivy        59.95        59.95
7         Alexis Texas        59.95        59.95
8       Anikka Albrite        59.95        59.95
9            Elsa Jean        59.95        59.95
10          Jenna Haze        59.95        59.95
11         Brandi Love        59.95        59.95
12     Janice Griffith        59.95        59.95
13     Adriana Chechik        59.95        59.95
14      Nicole Aniston        59.95        59.95
15            Lisa Ann        59.95        59.95
16        Angela White        59.95        59.95
17           Asa Akira        59.95        59.95
18       Kimmy Granger        59.95        59.95
19        Lana Rhoades        59.95        59.95
20           Lena Paul        59.95        59.95
21          Tori Black        59.95        59.95
22   Kendra Sunderland        59.95        59.95
23        Christy Mack        59.95        59.95
24       Jessica Drake        59.95        59.95
25         Misty Stone        59.95        59.95
26  Veronica Rodriguez        59.95        59.95
27           Ana Foxxx        59.95        59.95
28            Dominika        59.95        59.95
29          Nikki Benz        59.95        59.95
30        Joanna Angel        59.95        59.95
31          Kissa Sins        59.95        59.95
32         Kendra Lust        59.95        59.95
33        Riley Jensen        59.95        59.95
34      Teagan Presley        59.95        59.95
35        Tera Patrick        59.95        59.95
36       Lena The Plug        59.95        59.95
37        Kayden Kross        59.95        59.95
38        Riley Steele        59.95        59.95
39           Romi Rain        59.95        59.95
40        Emily Willis        59.95        59.95
41         Abigail Mac        59.95        59.95
42          Tanya Tate        59.95        59.95
43         Ella Hughes        59.95        59.95
44       Abella Danger        59.95        59.95

Stars without anal sleeves listed below.

Janice Griffith, Kendra Sunderland, Veronica Rodriguez, Dominika, Riley Jensen, Romi Rain, Abigail Mac, Tanya Tate and Ella Hughes

In [13]:
nums = [12,22,26,28,33,39,41,42,43]
df.loc[nums,'Butt Sleeve'] = 0
df.iloc[nums]

                  Name  Lady Sleeve  Butt Sleeve
12     Janice Griffith        59.95          0.0
22   Kendra Sunderland        59.95          0.0
26  Veronica Rodriguez        59.95          0.0
28            Dominika        59.95          0.0
33        Riley Jensen        59.95          0.0
39           Romi Rain        59.95          0.0
41         Abigail Mac        59.95          0.0
42          Tanya Tate        59.95          0.0
43         Ella Hughes        59.95          0.0

In [14]:
#DataFrame now with updated values
df

                  Name  Lady Sleeve  Butt Sleeve
0        Maitland Ward        59.95        59.95
1          Mia Malkova        59.95        59.95
2           Riley Reid        59.95        59.95
3                Stoya        59.95        59.95
4       Dillion Harper        59.95        59.95
5            Eva Lovia        59.95        59.95
6          Madison Ivy        59.95        59.95
7         Alexis Texas        59.95        59.95
8       Anikka Albrite        59.95        59.95
9            Elsa Jean        59.95        59.95
10          Jenna Haze        59.95        59.95
11         Brandi Love        59.95        59.95
12     Janice Griffith        59.95         0.00
13     Adriana Chechik        59.95        59.95
14      Nicole Aniston        59.95        59.95
15            Lisa Ann        59.95        59.95
16        Angela White        59.95        59.95
17           Asa Akira        59.95        59.95
18       Kimmy Granger        59.95        59.95
19        Lana Rhoades        59.95        59.95
20           Lena Paul        59.95        59.95
21          Tori Black        59.95        59.95
22   Kendra Sunderland        59.95         0.00
23        Christy Mack        59.95        59.95
24       Jessica Drake        59.95        59.95
25         Misty Stone        59.95        59.95
26  Veronica Rodriguez        59.95         0.00
27           Ana Foxxx        59.95        59.95
28            Dominika        59.95         0.00
29          Nikki Benz        59.95        59.95
30        Joanna Angel        59.95        59.95
31          Kissa Sins        59.95        59.95
32         Kendra Lust        59.95        59.95
33        Riley Jensen        59.95         0.00
34      Teagan Presley        59.95        59.95
35        Tera Patrick        59.95        59.95
36       Lena The Plug        59.95        59.95
37        Kayden Kross        59.95        59.95
38        Riley Steele        59.95        59.95
39           Romi Rain        59.95         0.00
40        Emily Willis        59.95        59.95
41         Abigail Mac        59.95         0.00
42          Tanya Tate        59.95         0.00
43         Ella Hughes        59.95         0.00
44       Abella Danger        59.95        59.95

Now to calculate the cost of buying all of the sleeves without containers. After adding at least ten items to your cart on their website, a 15% discount is applied to every individual item in the cart. Use this url to add items to your cart https://www.fleshlight.com/collections/orgy. The math below in the Cost columns reflects that discount

In [15]:
df['Cost'] = round(( (df['Lady Sleeve']*.85) + (df['Butt Sleeve']*.85) ),2)
subtotal = df['Cost'].sum()
#account for taxes
total = round(subtotal *1.06,2)
print('Subtotal ' + str(subtotal) + '\n Total ' + str(total))

Subtotal 4127.76
 Total 4375.43