In [2]:
import numpy as np
from pandas import DataFrame, Series
import pandas as pd
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [9]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [10]:
ser3 = Series(['USA','Mexico','Canadas'],index=[0,5,10])
ser3

0         USA
5      Mexico
10    Canadas
dtype: object

In [12]:
ranger = range(15)

In [13]:
ser3.reindex(ranger,method='ffill')

0         USA
1         USA
2         USA
3         USA
4         USA
5      Mexico
6      Mexico
7      Mexico
8      Mexico
9      Mexico
10    Canadas
11    Canadas
12    Canadas
13    Canadas
14    Canadas
dtype: object

In [14]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.248477 -1.021266 -1.142625 -0.923323 -0.980082
B -0.671844 -0.495457 -1.134075  2.439108  0.620148
D -0.716368 -0.118258 -0.139068  1.015871  1.296785
E -0.026930 -0.502268 -0.360658 -0.516630  0.182109
F -0.550824 -1.104756  0.543482  0.240027  0.259897

In [15]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -0.248477 -1.021266 -1.142625 -0.923323 -0.980082
B -0.671844 -0.495457 -1.134075  2.439108  0.620148
C       NaN       NaN       NaN       NaN       NaN
D -0.716368 -0.118258 -0.139068  1.015871  1.296785
E -0.026930 -0.502268 -0.360658 -0.516630  0.182109
F -0.550824 -1.104756  0.543482  0.240027  0.259897

In [19]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.248477 -1.021266 -1.142625 -0.923323 -0.980082   NaN
B -0.671844 -0.495457 -1.134075  2.439108  0.620148   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.716368 -0.118258 -0.139068  1.015871  1.296785   NaN
E -0.026930 -0.502268 -0.360658 -0.516630  0.182109   NaN
F -0.550824 -1.104756  0.543482  0.240027  0.259897   NaN

In [ ]:
dframe.loc[ [] ]