In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
from numpy.random import randn

In [3]:
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

1  a   -0.244647
   b    1.201485
   c    0.226306
2  a    0.762224
   b    1.383922
   c   -0.145546
dtype: float64

In [4]:
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [5]:
ser[1]

a   -0.244647
b    1.201485
c    0.226306
dtype: float64

In [6]:
ser[2]

a    0.762224
b    1.383922
c   -0.145546
dtype: float64

In [7]:
ser[:,'a']

1   -0.244647
2    0.762224
dtype: float64

In [8]:
dframe = ser.unstack() #unstack will unstack stack indexs like the series above
dframe

          a         b         c
1 -0.244647  1.201485  0.226306
2  0.762224  1.383922 -0.145546

In [10]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),
                    index=[['a','a','b','b'],[1,2,1,2]],
                   columns=[['NY','NY','LA','SF'],['cold','cold','hot','hot']])
dframe2

      NY       LA  SF
    cold cold hot hot
a 1    0    1   2   3
  2    4    5   6   7
b 1    8    9  10  11
  2   12   13  14  15

In [11]:
dframe2.index.names = ['INDEX_1','INDEX_2']
dframe2.columns.names = ['Cities','Temp']
dframe2

Cities            NY       LA  SF
Temp            cold cold hot hot
INDEX_1 INDEX_2
a       1          0    1   2   3
        2          4    5   6   7
b       1          8    9  10  11
        2         12   13  14  15

In [12]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold     hot
Cities            NY  NY  LA  SF
INDEX_1 INDEX_2
a       1          0   1   2   3
        2          4   5   6   7
b       1          8   9  10  11
        2         12  13  14  15

In [13]:
dframe2.sortlevel(1)

AttributeError: 'DataFrame' object has no attribute 'sortlevel'