In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
dframe = pd.read_csv('lec25.csv')
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [ ]:
dframe = pd.read_csv('lec25.csv',header=None)
d